@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111315;
}

.bg-grad-1 {
  background: linear-gradient(90deg, rgba(247, 20, 89, 0.4) -1.01%, rgba(244, 66, 242, 0.4) 99.82%);
  filter: blur(100px);
  height: 2000px;
  transform: rotate(20deg);
}

.bg-grad-2 {
  background: linear-gradient(180deg, rgba(244, 66, 242, 0.3) 0%, rgba(20, 70, 247, 0.3) 100%);
  filter: blur(180px);
  height: 2000px;
  transform: rotate(-40deg);
}

.bg-grad-3 {
  background: linear-gradient(180deg, rgba(244, 66, 242, 0.2) 0%, rgba(20, 70, 247, 0.2) 100%);
  filter: blur(130px);
  height: 2000px;
  transform: rotate(133.48deg);
}

.bg-grad-4 {
  background: linear-gradient(180deg, rgba(244, 66, 242, 0.4) 0%, rgba(247, 20, 89, 0.4) 100%);
  filter: blur(160px);
  height: 2000px;
  transform: rotate(77.33deg);
}

.bg-grad-5 {
  background: rgba(113, 39, 241, 0.5);
  filter: blur(180px);
  height: 2000px;
  transform: rotate(-50.02deg);
}

/* copied from figma */
.card {
  background: linear-gradient(105.81deg, rgba(255, 255, 255, 0.56) 0.73%, rgba(196, 196, 196, 0.24) 100%);
  background-blend-mode: overlay;
  border: 1px solid rgba(255, 255, 243, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 32px;
}
